back-end/test_openai.py
/front-end/node_modules
front-end/.next/static/chunks/webpack-ee7e63bc15b31913.js
/back-end/app/__pycache__
/front-end/.next/static/chunks/pages
/front-end/.next/static/chunks
/back-end/app/models/__pycache__
/front-end/.next/cache/webpack/client-production
/front-end/.next/server/pages
/back-end/app/routes/__pycache__
/front-end/.next/cache/webpack/client-development
/back-end/__pycache__
/front-end/.next/cache
/front-end/.next/server
/front-end/.next/static/css
/front-end/.next
/back-end/__pycache__
/back-end/__pycache__
